@import '../Styles/colors.scss';

.aboutMe{
    display: flex;
    width: 100%;
    justify-content: space-around;
    padding: 60px;
    margin: 100px 0px;

    &__left-content{
        display: flex;
        flex-direction: column;
    }

    &__photo{
        display: flex;
        background-color: aqua;
        width: 600px;
        height: 700px;
    }

    &__img{
        background-image: url(../Assets/sakuraSkills1.avif);
        width: 600px;
        height: 100px;
        border-left: 10px solid var(--pinky);
    }

    &__right-content{
        display: flex;
        flex-direction: column;
        width: 600px;
    }

    &__description{
        font-size: 20px;
        color: var(--white);
        border-top: 1px white solid;
    }

    &__name{
        color: var(--white);
        font-size: 35px;

        b{
            color: var(--pinky);
        }
    }

    &__title{
        display: flex;
        color: var(--white);
        font-size: 20px;
        align-items: center;

        span{
            margin-left: 10px;
        }
    }

    img{
        width: 100%;
        object-fit: cover;
        object-position: top;
        border-left: 10px solid var(--pinky);
    }
}