@import './colors.css';

.app{
    background-image: url(../Assets/cat.jpg);
    display: flex;
    overflow-x: hidden;
}

.App-body{
    background-color: var(--opacity);
    width: 100%;
}

.App-body-home, .App-body-skills, .App-body-projects, .App-body-contact{
    height: 100vh;
}

.App-body-home{
    display: flex;
    flex-direction: row;
    justify-content: space-around; 
}

.App-body-skills, .App-body-projects, .App-body-contact{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 60px;
}

.cardContainer {
    align-items: center;
    display: flex;
    flex-direction: column; 
    justify-content: space-evenly;
    width: 40vw;
}

.imgContainer{
    width: 40vw;
}
