@import './circle.css';

.dividerCircle{
    display: flex;
    justify-content: center;
}

.dividerCircle span{
    font-size: 15px;
}

.bigCircle{
    color: var(--ligthRed)
}

.littleCircle{
    color: var(--brown)
}