:root {
    --ligthOrange: #FFCDB2;
    --orange: #FFB4A2;
    --ligthRed: #E5989B;
    --brown: #B5838D;
    --black: #6D6875;
    --white: #f0f0f0;
    --ligthGrey: #818181;
    --opacity: #FFCDB299;
    --whiteOpacity: #ffffffD8;
    --realWhite: #ffffff;
  }