@import './colors.css';

.skillCard{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    height: 100%;
}

.titleSkillContainer{
    padding: 10px;
    margin: 30px;
    width: 15vw;
    height: 25vh;
    background-color: var(--whiteOpacity);
    box-shadow: 0px 7px 21px -8px rgb(97, 97, 97);
    -moz-box-shadow: 0px 7px 21px -8px rgb(97, 97, 97);
    -webkit-box-shadow: 0px 7px 21px -8px rgb(82, 82, 82);
    position: relative;
}

.titleSkillCard{
    width: 100%;
    height: 65%;
}

.skillLevelCard{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 35%;
}

.titleSkillCard{
    display: flex;
    align-items: center;
    justify-content: center;
}

.titleSkillCard img{
    height: 90%;
    width: 30%;
    position: relative;
    transition: transform 0.5s ease-in-out;
}

.titleSkillCard:hover {
    transform:scale(1.3);
    z-index: 1;
    transition: 0.5s;
}

.skillLevelCard div{
    display: flex;
    align-items: center;
}

.skillLevelCard span {
    color: var(--black)
}

.skillLevelCard div:nth-child(2) {
    font-size: 12px;
    padding: 10px;
}

.iconArrowTitle{
    color: var(--ligthRed)
}

.circleFixed{
    position: absolute;
    left: 0;
    top: 0;
    color: var(--black);
}