@import '../Styles/colors.scss';

.title{
    display: flex;
    border-bottom: 3px solid var(--pinky);
    padding-left: 14px;
    padding-top: 65px;
    color: var(--white);

    &__sentence{
        font-size: 35px;
        letter-spacing: 20px;
        padding: 0px;
    }
}